<p>
  Hi <%= @user.name %>,
</p>
<blockquote>
  The event [<%= @event.title %>] will start at <%= @event.date %>
</blockquote>
<p>
  Hope you enjoy this event!! 
</p>
<p> see the deatil :  <%= link_to @event.title, event_url(@event)  %></p>