<div class="text-center">
  <p>
    <h1>The Wall Weekly Events</h1>
  </p>
  <blockquote>
    <div class="container" style="min-width: 100%;" >
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-lg-4 col-md-6 col-sm-10">

            <%= render partial: "shared/mail_events", locals: {object: event, flag: true} %>

          </div>
        <% end %> 
      </div>
    </div>
  </blockquote>
</div>
