/*------ basic ------*/
#header_nav {
  margin-bottom: 80px;
}

h5, h6 {
  margin: 0;
}

.like-btn {
  color: gray;
  margin-left: 30px;
  font-size: 25px;
}

.like-btn:hover, .like-btn:focus {
  color: #0056b3;
  text-decoration: none;
}

.unlike-btn {
  color: #ff1a75;
  margin-left: 30px;
  font-size: 25px;
}

.unlike-btn:hover, .unlike-btn:focus {
  color: #0056b3;
  text-decoration: none;
}


/*------ event index ------*/

#event-filter {
  margin-bottom: 40px;
  width: 200px;
}

.event {
  margin-bottom: 30px;
}

.event .date {
  color: #538cc6;
  font-weight: bold;
  font-size: 18px;
}



.event h5 {
  margin: 3px 0;
}

.event h5 a {
  color: orange;
}

/* 爬蟲資料進來後刪掉 (用上面的即可) */
.event h5 {
  color: orange;
}

.event .place, .event .time {
  color: gray;
}

.event .place span, .event .time span {
  color: #79a6d2;
  margin-left: 10px;
}

p {
  margin-bottom: 0;
}

.search-date, .search-select, .search-search, .search-submit {
  margin-bottom: 20px;
}

.paginate {
  margin: 50px auto;
}


/*------ event show ------*/


.event-date {
  color: #538cc6;
  margin: 10px auto 10px auto;
}

.event-title {
  color: orange;
}

.event-info {
  color: gray;
  line-height: 40px;
}

.event-info span {
  color: #79a6d2;
  margin-left: 10px;
}

#event-hr {
  margin: 30px 0;
}

.event-artist {
  color: #538cc6;
}

.subtitle {
  color: gray;
  margin: 35px 0;
}

.event-detail {
  color: #8585ad;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.piece {
  margin-bottom: 20px;
}


/*------ user login ------*/
.userform {
  max-width: 60%;
  margin: auto;
}

.btn-facebook {
  background-color: #3B5998;


/*------ user profile ------*/


.borderless td, .profile .borderless th {
    border: none;
}




/*------ fb login ------*/
  &, &:hover, &:active {
    background-image: image-url("social-sign-in/facebook.svg");
    color: #fff;
  }

  &:hover {
    background-color: lighten(#3B5998, 10%);
  }

  &:active {
    background-color: darken(#3B5998, 10%);
  }
}

.btn-si {
  background-position: 1em;
  background-repeat: no-repeat;
  background-size: 2em;
  border-radius: 2em;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 1em;
  padding: 10px 30px 10px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s;
}

.btn-si-a {
  padding: 15px 15px 15px 65px !important;
  font-family: arial;
}

.smaller .btn-si-a {
  padding-left: 40px !important;
  font-size: 12px;
}


/*------ spotify login ------*/
.spotify-btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 14px;
  padding: 3.7px 15px;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.spotify-btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 20px auto 0 auto;
}


/*------ event posts ------*/

.post {
  max-width: 100%;
  min-height: 450px;
  border: solid 1px lightgray;
  margin: 30px 20px;
}

.phead {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post .pdate {
  color: #538cc6;
  font-weight: bold;
  font-size: 21px;
}

.ptitle {
  margin-top: 10px;
}

.ptitle a {
  color: orange;
  font-weight: bold;
  font-size: 21px;
}

.interest span{
  color: white;
  font-size: 16px;
}

.musicpiece {
  max-width: 100%;
  max-height: 350px;
}

.post-info {
  padding: 20px 0 0 50px;
}

.post-img {
  height: 100%;
}

.event-info .interest .like-btn {
  margin-left: 10px;
}

.event-info .interest .unlike-btn {
  margin-left: 10px;
}

.post .row {
  margin-right: 0;
  margin-left: 0;
}

.carousel-inner {
  margin: 10px 10px;
}


/*------ viewport ------*/

@media (max-width: 767px) {

  .userform {
    max-width: 100%;
    margin: auto;
  }

  #existing-iframe-example {
    max-width: 100%;
    max-height: auto;
  }

  .post {
    max-width: 100%;
    min-height: 680px;
    border: solid 1px lightgray;
    margin: 20px 0;
  }

  .carousel-inner {
    margin: 0 0;
  }

}