/*------ basic ------*/
#header_nav {
  margin-bottom: 80px;
}

/*------ event index ------*/

#event-filter {
  margin-bottom: 40px;
  width: 200px;
}

.event {
  margin-bottom: 30px;
}

.event .date {
  color: #538cc6;
  font-weight: bold;
}

.event .date .like-btn {
  color: #ff1a75;
  margin-left: 80px;
}

.event img {
  width: 200px;
  height: 200px;
}

.event h5 {
  color: orange;
}

.event .place, .event .time {
  color: gray;
}

.event .place span, .event .time span {
  color: #79a6d2;
  margin-left: 10px;
}

p {
  margin-bottom: 0;
}


/*------ user login ------*/
.userform {
  max-width: 60%;
  margin: auto;
}

.btn-facebook {
  background-color: #3B5998;

  &, &:hover, &:active {
    background-image: image-url("social-sign-in/facebook.svg");
    color: #fff;
  }

  &:hover {
    background-color: lighten(#3B5998, 10%);
  }
  &:active {
    background-color: darken(#3B5998, 10%);
  }
}

.btn-si {
  background-position: 1em;
  background-repeat: no-repeat;
  background-size: 2em;
  border-radius: .5em;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 1em;
  padding: 0 2em 0 4em;
  text-decoration: none;
  transition: all .5s;
}
.btn-si-a {
  padding: 15px 15px 15px 65px !important;
  font-family: arial;
}
.smaller .btn-si-a{
  padding-left: 40px !important;
  font-size: 12px;
}
/*------ viewport ------*/

@media (max-width: 767px) {

  .userform {
    max-width: 100%;
    margin: auto;
  }

}
